@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  // font-family: "Fjalla One", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}
