<div class="page-wrap">
  <div class="header-nav">
    <div class="header-nav-img">
      {{#link-to 'index'}}<img src="/img/logo-clock.png" alt="Logo" class="logo-img"/>{{/link-to}}
    </div>
    <div class="header-nav-favs">
      {{#link-to 'list'}}<h4>Favorites</h4>{{/link-to}}
      {{#link-to 'admin'}}<h4>Admin</h4>{{/link-to}}
    </div>
  </div>
  <div class="admin">
    {{#each model as |recipe|}}
      {{admin-tile recipe=recipe update="update" destroyRecipe="destroyRecipe"}}
    {{/each}}
    {{new-recipe save="save"}}
  </div>
</div>
