{{generate-form generate='generate'}}

<div id="landingCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" id="defaultLanding">
      <img src="http://i.imgur.com/53DnAOT.jpg" alt="defaultImg" class="full-screen"/>
    </div>

    <div class="carousel-item" id="europeanLanding">
      <img src="http://i.imgur.com/ozsYDnb.jpg" alt="europeanImg" />
    </div>

    <div class="carousel-item" id="asianLanding">
      <img src="http://i.imgur.com/JQ2K775.jpg" alt="asianImg" />
    </div>

    <div class="carousel-item" id="americanLanding">
      <img src="http://i.imgur.com/Uz5nZU8.jpg" alt="americanImg" />
    </div>

    <div class="carousel-item" id="latinLanding">
      <img src="http://i.imgur.com/Uz5nZU8.jpg" alt="latinImg" />
    </div>

  </div>
</div>
