<h3>Favorites List</h3>
<button {{action 'empty'}}>Empty list</button>
{{#each favoritesList.recipes as |recipe|}}
  {{recipe-tile recipe=recipe}}
  <button {{action 'remove' recipe}}>Remove Recipe</button>
{{/each}}
