<div class="page-wrap">
  <div class="header-nav">
    <div class="header-nav-img">
      {{#link-to 'index'}}<img src="/img/logo-clock.png" alt="Logo" class="logo-img"/>{{/link-to}}
    </div>
    <div class="header-nav-favs">
      {{#link-to 'list'}}<h4>Favorites {{recipe-counter}} </h4>{{/link-to}}
      {{#link-to 'admin'}}<h4>Admin</h4>{{/link-to}}
    </div>
  </div>
  <div class="recipe-results">
    <div class="recipe-results-title-tile">
      <h3>Recipes</h3>
    </div>
    <div class="recipe-results-recipes-tile">
      {{#each model.recipes as |recipe|}}
      {{#if (eq recipe.dish model.temperature)}}
        {{recipe-tile recipe=recipe}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
